<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>LocalCast Weather</span>
</mat-toolbar>
<div fxLayoutAlign="center">
  <app-city-search></app-city-search>
</div>
<div fxLayout="row">

  <div fxFlex></div>

  <div fxFlex="300px">

    <div fxLayoutAlign="center">
      <div class="mat-caption vertical-margin">Your city,your forecat,right now!</div>
    </div>
    <mat-card>
      <mat-card-title  class="mat-typography">
        <div class="mat-headline">Current Weather</div>
      </mat-card-title>
      <mat-card-content>
        <div>
          <app-current-weather></app-current-weather>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>